/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
.logo-link {
  margin-top: auto;
}

/* navigation */

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 8rem;
  z-index: 3;
}

.sticky .hero-section {
  margin-top: 9.6rem;
}
.main-nav-list {
  display: flex;
  list-style-type: none;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}
.nav-cta:link,
.nav-cta:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-blockß;
  background-color: #e67e22;
  color: #fff;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

.mobile-nav {
  border: none;
  background-color: transparent;
  outline: none;
  display: none;
}
.mobile-nav ion-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: #555;
}
.mobile-nav ion-icon[name="close-outline"] {
  display: none;
}
/* hero section */

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 130rem;
  margin: auto;
  padding: 3.2rem;
  align-items: center;
  gap: 9.6rem;
}

.hero-image img {
  width: 100%;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 3.2rem;
}

.delivered-imgs {
  display: flex;
  align-items: center;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-meals p {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals span {
  color: #cf711f;
  font-weight: 700;
}

/* featured in */

.featured-section {
  padding: 4.8rem 0 3.2rem 0;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

/* how section */
.how-section {
  padding: 9.6rem 0px;
}
.number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-desc {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-image-box::after {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  display: block;
  background-color: #fdf2e9;
  position: absolute;
  z-index: -2;
  border-radius: 50%;
}
.step-image-box::before {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  display: block;
  background-color: #fae5d3;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.step-img {
  width: 35%;
}
/* meals section */

.meals-section {
  padding: 9.6rem 0px;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 3.2rem;
}

.meals-attributes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.meal-content {
  padding: 3.2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-attribute ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #61cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--veg {
  background-color: #61cf66;
}
.tag--paleo {
  background-color: #ffd43b;
}

.list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-direction: column;
}

.list ion-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipies {
  text-align: center;
  font-size: 1.8rem;
}
/* testimonials section */

.testimonials-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-container {
  padding: 9.6rem 3.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 3.2rem;
}
.testimonials-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonials-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonials-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* gallary */
.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.gallary-item {
  overflow: hidden;
}
.gallary-item img:hover {
  transform: scale(1.1);
}

.gallary-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

/* pricing section */
.pricing-section {
  padding: 9.6rem 0px;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
  border-radius: 11px;
}
.pricing-plan.starter {
  justify-self: end;
  border: 2px solid #fae5d3;
  border-radius: 11px;
  padding: 4.6rem;
}
.pricing-plan.compelete {
  background-color: #fae5d3;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan.compelete::before {
  content: "best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #e67e22;
  color: #fff;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  padding: 0.8rem 8rem;
}

.plan-header {
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-btn {
  text-align: center;
  margin-top: 4.8rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.feature ion-icon {
  color: #e67e22;
  margin-bottom: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #fae5d3;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* cta section */
.cta-section {
  padding: 9.6rem 0px 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-textbox {
  color: #5c320e;
  padding: 4.8rem 6.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-textbox h2 {
  color: #5c320e;
  margin-bottom: 3.2rem;
}
.cta-imgbox {
  background-image: linear-gradient(
      to right bottom,
      rgba(241, 201, 167, 0.3),
      rgba(233, 155, 86, 0.3)
    ),
    url(../content/img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.form-field label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.form-field input,
.form-field select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}
.form-field input::placeholder {
  color: #aaa;
}

/* footer section */
.footer {
  padding: 12.8rem 0px;
  border-top: 1px solid #eee;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited,
solic {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
}
.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}
.footer,
.logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer ion-icon {
  width: 2.4rem;
  height: 3.2rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
}
.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
